<!-- Reft - roman ernesto ferreiras tejada -->
<app id="app">
	<div id="titulo"
		 class=" no-print"><i class="icon-home"></i> {{Title}}</div>
	<ul id="navMenu"
		class=" no-print">
		<li :class="{activa:controladores.home.isActive}" ><a href="#home">Inicio</a></li>
		<li :class="{activa:controladores.Dolores.isActive}" ><a href="#Dolores">Dolores Ipsum</a></li>

	</ul>
	<div class="cuerpo no-print" v-if="controladores.home.isActive">
		<h1>Hola</h1>
		<p>Mundo ¿que tal?</p>
	</div>
	<div class="cuerpo no-print" v-if="controladores.Dolores.isActive">
		<h1>Esto es otra parte </h1>
		<h3>Loren doloren</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ab beatae qui nemo placeat delectus culpa dolore maiores, quidem necessitatibus praesentium, labore deleniti tempora illo minus accusamus quibusdam corporis nisi!</p>
	</div>
</app>
<script src="js/app.js"></script>
