<!DOCTYPE html>
<html>

<head>
    <title>Reft Api Default Application Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/os.css" rel="stylesheet" type="text/css" />
    <link href="css/foundation.css" rel="stylesheet" type="text/css" />
    <link href="css/dbiconos.css" rel="stylesheet" type="text/css" />
    <link href="css/fontello.css" rel="stylesheet" type="text/css" />
    <!-- *********************************** -->
    <script src="js/vendor/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-route.min.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.topbar.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.dropdown.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.reveal.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.offcanvas.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.alert.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.tooltip.js" type="text/javascript"></script>
    <script src="js/foundation/foundation.tab.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
</head>

<body ng-app="app">
    <nav></nav>
    <div class="content">
        <div id="SearchPanel"></div>
        <div id="ContetPanel">{content}</div>
    </div>
</body>

</html>
