<!DOCTYPE html>
<html lang="es-do">
	<head>
		<title>REFT API</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="initial-scale=1 width=device-width, viewport-fit=cover" />
		<link href='lib/main.css' rel='stylesheet' />
		<link href="css/animation.css" rel="stylesheet" type="text/css" />
		<link href="css/fontello.css" rel="stylesheet" type="text/css" />
		<link href="css/app.css" rel="stylesheet" type="text/css" />
		<link href="css/table.min.css" rel="stylesheet" type="text/css" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link href="summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />
		<link href="css/media.css" rel="stylesheet" type="text/css" />
		<script src="js/vue.min.js"></script>
	</head>

	<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
		<!--  -->
		{content}
		<!--  -->
		<div id="Modal"></div>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="summernote/summernote-bs4.min.js"></script>
	</body>
</html>
